@charset "utf-8";

#top-nav {
    width: 1170px;
    overflow: hidden;
    padding-top: 100px;
}

.nav-about a,
.nav-chara a,
.nav-drill a,
.nav-news a{
    display: block;
    width: 290px;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    float: left;
    text-decoration: none;
}

.nav-about a{
    border-left: 2px solid #fff;
}

.nav-about a:hover, 
.nav-chara a:hover,
.nav-drill a:hover,
.nav-news a:hover {
   background: #fffd2c;
}


/*↓仮で入れてるmainなので消してください*/
#main{
    height: 600px;
}