@charset "utf-8";

@import "reset.css";
@import "header.css";
@import "footer.css";
@import "nav.css";
@import "top.css";
@import "about.css";
@import "chara.css";
@import "drill.css";

body {
    font-weight: 1.5;
    color: #333;
    background-color: #00a0da;
    font-family: "Noto Sans Japanese", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

#wrap {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}